/* line 2, ../compass/sass/views/_main.scss */
.intro {
  padding-top: 85px;
}

/* line 6, ../compass/sass/views/_main.scss */
.jumbotron {
  background-image: url(../compass/images/table-flowers.jpg);
  background-size: cover;
}
/* line 9, ../compass/sass/views/_main.scss */
.jumbotron h1, .jumbotron p {
  color: white;
  font-family: 'Droid Serif', serif;
}
/* line 13, ../compass/sass/views/_main.scss */
.jumbotron p {
  padding-left: 15%;
  padding-right: 15%;
}

/* line 19, ../compass/sass/views/_main.scss */
h2 {
  font-size: 40px;
}

/* line 23, ../compass/sass/views/_main.scss */
h3 {
  font-size: 30px;
}

/* line 27, ../compass/sass/views/_main.scss */
p {
  font-size: 20px;
}

/* line 31, ../compass/sass/views/_main.scss */
.nav {
  height: 80px;
}
/* line 33, ../compass/sass/views/_main.scss */
.nav .navbar-header {
  margin-left: 40%;
  margin-top: -15px;
}

@media screen and (max-width: 375px){
  .nav .navbar-header{
    margin-left: 25%;
    }
}

/* line 39, ../compass/sass/views/_main.scss */
.choose-flowers {
  background-image: url(../compass/images/new-flowers.png);
  background-size: cover;
  height: 400px;
}
/* line 43, ../compass/sass/views/_main.scss */
.choose-flowers h3, .choose-flowers p {
  color: white;
}
/* line 46, ../compass/sass/views/_main.scss */
.choose-flowers p {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 53, ../compass/sass/views/_main.scss */
.select-flowers p {
  padding-left: 10%;
}

/* line 57, ../compass/sass/views/_main.scss */
.flower-choose {
  padding-bottom: 30px;
}

/* line 61, ../compass/sass/views/_main.scss */
.flower-weekly, .flower-monthly {
  border: solid black 1px;
}
/* line 63, ../compass/sass/views/_main.scss */
.flower-weekly h4, .flower-monthly h4 {
  margin: 10px;
}
/* line 66, ../compass/sass/views/_main.scss */
.flower-weekly ul, .flower-monthly ul {
  font-size: 15px;
}
/* line 69, ../compass/sass/views/_main.scss */
.flower-weekly .flowers, .flower-monthly .flowers {
  margin-left: 30%;
}

/* line 74, ../compass/sass/views/_main.scss */
.get-flowers {
  background-image: url(../compass/images/vase-flowers.jpg);
  background-size: cover;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
/* line 81, ../compass/sass/views/_main.scss */
.get-flowers p {
  padding-left: 10%;
  padding-right: 40%;
}

/* line 87, ../compass/sass/views/_main.scss */
.start {
  height: 150px;
}

/* line 1, ../compass/sass/views/_register.scss */
.register-page {
  background-image: url(../compass/images/register-pic.png);
  background-size: cover;
  margin-top: 40px;
  height: 800px;
}

/* line 8, ../compass/sass/views/_register.scss */
.register {
  padding-top: 45px;
}
/* line 10, ../compass/sass/views/_register.scss */
.register h1 {
  font-family: 'Droid Serif', serif;
}

/* line 16, ../compass/sass/views/_register.scss */
.form-group label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  font-size: 20px;
}
/* line 22, ../compass/sass/views/_register.scss */
.form-group .box {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

/* line 30, ../compass/sass/views/_register.scss */
.button-holder {
  padding-top: 20px;
  padding-left: 25px;
}
/* line 33, ../compass/sass/views/_register.scss */
.button-holder .btn {
  font-family: 'Crete Round', serif;
}

/* line 38, ../compass/sass/views/_register.scss */
.exist-account p {
  padding-top: 20px;
  padding-left: 10px;
  font-family: 'Crete Round', serif;
}

/* line 44, ../compass/sass/views/_register.scss */
.welcome h4 {
  padding-left: 25px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: grey;
}

/* line 1, ../compass/sass/views/_login.scss */
.login-page {
  background-image: url(../compass/images/login-pic.jpeg);
  background-size: cover;
  height: 900px;
}

/* line 7, ../compass/sass/views/_login.scss */
.login {
  padding-top: 85px;
}
/* line 9, ../compass/sass/views/_login.scss */
.login h1 {
  font-family: 'Droid Serif', serif;
  color: white;
}

/* line 16, ../compass/sass/views/_login.scss */
.form-group label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  font-size: 20px;
  color: white;
}
/* line 23, ../compass/sass/views/_login.scss */
.form-group .box {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

/* line 31, ../compass/sass/views/_login.scss */
.button-holder {
  padding-top: 20px;
  padding-left: 25px;
}
/* line 34, ../compass/sass/views/_login.scss */
.button-holder .btn {
  font-family: 'Crete Round', serif;
}

/* line 39, ../compass/sass/views/_login.scss */
.new-account p {
  padding-top: 20px;
  padding-left: 10px;
  font-family: 'Crete Round', serif;
  color: white;
}

/* line 46, ../compass/sass/views/_login.scss */
.welcome h4 {
  padding-left: 25px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: grey;
}

/* line 1, ../compass/sass/views/_options.scss */
.options-page {
  background-image: url(../compass/images/options-pic.jpeg);
  background-size: cover;
  padding-top: 90px;
  height: 800px;
}
/* line 6, ../compass/sass/views/_options.scss */
.options-page h1, .options-page p {
  color: white;
  font-family: 'Crete Round', serif;
}
/* line 10, ../compass/sass/views/_options.scss */
.options-page h1 {
  font-family: 'Droid Serif', serif;
}

@media screen and (max-width: 767px) {
  /* line 16, ../compass/sass/views/_options.scss */
  .options-page {
    height: auto;
  }

  /* line 19, ../compass/sass/views/_options.scss */
  .flower-monthly {
    margin-bottom: 20px;
  }
}
/* line 24, ../compass/sass/views/_options.scss */
.flower-weekly, .flower-monthly {
  background-color: white;
  border-radius: 5px;
}
/* line 27, ../compass/sass/views/_options.scss */
.flower-weekly button, .flower-monthly button {
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 32, ../compass/sass/views/_options.scss */
.flower-weekly p, .flower-monthly p {
  padding-left: 15px;
  color: black;
  text-align: center;
  font-size: 12px;
}
/* line 38, ../compass/sass/views/_options.scss */
.flower-weekly li, .flower-monthly li {
  font-size: 15px;
}
/* line 41, ../compass/sass/views/_options.scss */
.flower-weekly ul, .flower-monthly ul {
  font-size: 24px;
}

/* line 46, ../compass/sass/views/_options.scss */
.choice h5 {
  padding-left: 25px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: grey;
}

/* line 1, ../compass/sass/views/_delivery.scss */
.delivery {
  background-image: url(../compass/images/delivery-page.jpeg);
  background-size: cover;
  padding-top: 90px;
  height: 900px;
}
/* line 6, ../compass/sass/views/_delivery.scss */
.delivery h1, .delivery p {
  font-family: 'Crete Round', serif;
}
/* line 10, ../compass/sass/views/_delivery.scss */
.delivery h1 {
  font-family: 'Droid Serif', serif;
}

/* line 15, ../compass/sass/views/_delivery.scss */
.form-group.address label {
  color: black;
}

/* line 19, ../compass/sass/views/_delivery.scss */
.welcome h5 {
  padding-left: 25px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: grey;
}

/* line 1, ../compass/sass/views/_payment.scss */
.payment {
  background-image: url(../compass/images/payment-page.jpg);
  background-size: cover;
  margin-top: 80px;
}
/* line 5, ../compass/sass/views/_payment.scss */
.payment h1, .payment h3 {
  font-family: 'Droid Serif', serif;
}

@media screen and (max-width: 767px) {
  /* line 11, ../compass/sass/views/_payment.scss */
  label {
    margin-left: 3%;
  }

  /* line 14, ../compass/sass/views/_payment.scss */
  p {
    margin-left: 5%;
  }
}
/* line 20, ../compass/sass/views/_payment.scss */
.form-group.pay h3 {
  margin-left: 32px;
}
/* line 23, ../compass/sass/views/_payment.scss */
.form-group.pay label, .form-group.pay p {
  color: black;
  font-family: 'Crete Round', serif;
}
/* line 27, ../compass/sass/views/_payment.scss */
.form-group.pay p {
  margin-top: 18px;
}

/* line 32, ../compass/sass/views/_payment.scss */
.button-holder {
  margin-bottom: 25px;
}

/* line 36, ../compass/sass/views/_payment.scss */
.paidFor, .payFor {
  padding-left: 25px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: grey;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* line 1, ../compass/sass/views/_receipt.scss */
.receipt {
  background-image: url(../compass/images/receipt-page.jpg);
  background-size: cover;
  margin-top: 80px;
  height: 800px;
}
/* line 6, ../compass/sass/views/_receipt.scss */
.receipt h1 {
  font-family: 'Droid Serif', serif;
  color: white;
}
/* line 10, ../compass/sass/views/_receipt.scss */
.receipt h3 {
  color: white;
  font-family: 'Crete Round', serif;
}

/* line 9, ../compass/sass/styles.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, ../compass/sass/styles.scss */
.navbar-header button.navbar-toggle {
  margin-top: 35px;
}
/* line 18, ../compass/sass/styles.scss */
.navbar-header button.navbar-collapse {
  margin-top: 35px;
}

/* line 23, ../compass/sass/styles.scss */
#navbar-collapse-1.navbar-collapse {
  border: none;
}

/* line 27, ../compass/sass/styles.scss */
#navbar-collapse-1.navbar-collapse.collapse.in {
  width: 200px;
  float: right;
  background-color: white;
  border: #e7e7e7 1px solid;
  border-radius: 5px;
  height: 140px;
}

/* line 36, ../compass/sass/styles.scss */
.navbar-right li {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  /* line 41, ../compass/sass/styles.scss */
  li.navbar-text {
    margin-left: 15px;
  }
}
/* line 46, ../compass/sass/styles.scss */
.username {
  padding-top: 15px;
  color: #737373;
}

/* line 51, ../compass/sass/styles.scss */
body {
  background-color: white;
  margin-bottom: 60px;
  font-family: 'Crete Round', serif;
}

/* line 57, ../compass/sass/styles.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #F8F8F8;
  height: 60px;
}
/* line 63, ../compass/sass/styles.scss */
footer p {
  line-height: 60px;
  font-size: 15px;
}
