<div class='container options-page'>
	<div class='row'>
		<div class='options-title col-xs-12'>
			<h1>Select Your Flower Frequency</h1>
			<p>Shipping is always free, and you can change your plan at any time.</p>
		</div>
	</div>

	<div class='row select-flowers-plans'>
		<div class='col-sm-5 col-sm-offset-1 flower-choose'>
			<div class='flower-weekly' ng-click='flowersWeekly()'>
				<h4>Weekly Flowers</h4>
				<ul>
					<li>New flowers each Monday</li>
					<li>Fresh, seasonal arrangements</li>
					<li>Guaranteed to last until the next arrangement is delivered</li>
					<li>Monthly total: $140</li>
				</ul>
				<img class='flowers' src="compass/images/flower-bouquet.jpeg">
				<br>
				<button type='click' class='btn btn-primary'>Order</button>
				<p>Shipping is free. Change plans at any time.</p>
			</div>
		</div>
		<div class='col-sm-5'>
			<div class='flower-monthly' ng-click='flowersMonthly()'>
				<h4>Monthly Flowers</h4>
				<ul>
					<li>New flowers the first Monday of the month</li>
					<li>Fresh, seasonal arrangement</li>
					<li>Guaranteed to brighten someone's day</li>
					<li>Monthly Total: $50</li>
				</ul>
				<img class='flowers' src="compass/images/flower-bouquet2.jpeg">
				<br>
				<button type='click' class='btn btn-primary'>Order</button>
				<p>Shipping is free. Change plans at any time.</p>
			</div>
		</div>
	</div>

	<div class='row choice' ng-show="choiceMade">
		<div class='col-sm-4'>
			<h5>Great choice! Now let's get your details.</h5>
		</div>
	</div>	
	
</div>