<div class='payment container'>
	<div class='row'>
		<div class='col-xs-12'>
			<h1>Review & Pay for Your Order</h1>
		</div>
	</div>

	<div class='row'>
		<form class='form-horizontal'>
			<div class='form-group pay'>
				<h3>Flower Order Details</h3>
			</div>
			<div class='form-group pay'>
				<label for='frequency' class='col-sm-3 control-label'>Delivery Frequency: </label>
				<div>
					<p>{{userInfo.document.frequency}}</p>
				</div>
			</div>

			<div class='form-group pay'>
				<h3>Shipping Details</h3>
			</div>
			<div class='form-group pay'>
				<label for='fullName' class='col-sm-3 control-label'>Full Name: </label>
				<div>
					<p>{{userInfo.document.fullName}}</p>
				</div>
			</div>
			<div class='form-group pay'>
				<label for='address1' class='col-sm-3 control-label'>Address: </label>
				<div>
					<p>{{userInfo.document.address1}}</p>
				</div>
			</div>
			<div class='form-group pay'>
				<label for='address2' class='col-sm-3 control-label'>Address 2: </label>
				<div>
					<p>{{userInfo.document.address2}}</p>
				</div>
			</div>
			<div class='form-group pay'>
				<label for='city' class='col-sm-3 control-label'>City: </label>
				<div>
					<p>{{userInfo.document.city}}</p>
				</div>
			</div>
			<div class='form-group pay'>
				<label for='state' class='col-sm-3 control-label'>State: </label>
				<div>
					<p>{{userInfo.document.state}}</p>
				</div>
			</div>
			<div class='form-group pay'>
				<label for='zipCode' class='col-sm-3 control-label'>Zip Code: </label>
				<div>
					<p>{{userInfo.document.zipCode}}</p>
				</div>
			</div>

			<div class='form-group pay'>
				<h3>Grand Total</h3>
			</div>

			<div class='form-group pay'>
				<label for='shipping' class='col-sm-3 control-label'>Shipping: </label>
				<div>
					<p>FREE</p>
				</div>
			</div>

			<div class='form-group pay'>
				<label for='total' class='col-sm-3 control-label'>Total: </label>
				<div ng-model='total'>
					<p>$ {{userInfo.document.total}}</p>
				</div>
			</div>

			<div class='button-holder pay text-center'>
				<button type='submit' class='btn btn-success' ng-click='payOrder()'>Pay For My Order</button>
				<button type='submit' class='btn btn-danger' ng-click='editOrder()'>Edit My Order</button>
			</div>

			<div class='payFor col-sm-6' >
				<h5>You can pay for your order by using credit card number: 4242 4242 4242 4242, any future expiration date and any three-digit CVC.</h5>
			</div>

		</form>
	</div>

	<div class="row paidFor col-sm-6" ng-show="paidFor">
		<h5>Thanks {{userInfo.document.username}}! Your order has been received.</h5>	
	</div>
</div>